{% extends "template.html" %}
{% block title %}The Open Source Fit Tracker{% endblock %}
{% block content %}
    <h1>About</h1>

    <a href="https://flask.palletsprojects.com" target="_blank"><div class="card" class="text-dark" style="margin-bottom: 20px; margin-top: 20px">
      <header>
        <h3>Flask</h3>
      </header>
      <p>A simple framework for building complex web applications.</p>
    </div></a>

    <a href="https://www.sqlalchemy.org/" target="_blank"><div class="card" class="text-dark" style="margin-bottom: 20px; margin-top: 20px">
      <header>
        <h3>SQLAlchemy</h3>
      </header>
      <p>The Python SQL Toolkit and Object Relational Mapper.</p>
    </div></a>

    <a href="https://jenil.github.io/chota" target="_blank"><div class="card" class="text-dark" style="margin-bottom: 20px; margin-top: 20px">
      <header>
        <h3>Chota</h3>
      </header>
      <p>A micro CSS framework.</p>
    </div></a>

    <a href="https://www.chartjs.org/" target="_blank"><div class="card" class="text-dark" style="margin-bottom: 20px; margin-top: 20px">
      <header>
        <h3>Chart.js</h3>
      </header>
      <p>Simple yet flexible JavaScript charting for designers & developers.</p>
    </div></a>


{% endblock %}