{% extends "template.html" %}
{% block title %}The Open Source Fit Tracker{% endblock %}
{% block content %}
<h1>Welcome to The Open Source Fit Tracker</h1>
<p>This is the homepage.</p>
<div class="is-horizontal-align">
	{% if session["username"] %}
        <a href="/user" class="button outline primary">Get started here, {{ session["username"] }}.</a>
    {% else %}
        <a href="/login" class="button primary">Get Started</a>
        <a href="/about" class="button outline primary">Learn More</a>
    {% endif %}
</div>
{% endblock %}