{% extends "template.html" %}
{% block title %}The Open Source Fit Tracker{% endblock %}
{% block content %}
    <h1>Info on my Session</h1>
    <table>
        <thead>
        <tr>
            <th>Variable Name</th>
            <th>Variable Value</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ id }}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ password }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}