<!doctype html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<nav class="nav">
		<div class="nav-left">
			<a class="brand" href="/">TOSFT</a>
			<div class="tabs">
				<a href="/info">Debug Info</a>
				<a href="/about">About</a>
			</div>
		</div>
		<div class="nav-right">
			{% if session["username"] %}
				<a class="button outline dark" href="/user">Welcome, {{session["username"]}}.</a>
				<a class="button primary" href=/logout>Logout</a>
			{% else %}
				<a class="button primary" href=/register>Sign up</a>
				<a class="button outline" href="/login">Sign in</a>
			{% endif %}
		</div>
	</nav>
	<main style="min-height: 100vh">
		<div class="container">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for cat, msg in messages %}
                        {% if cat == "success" %}
                            <div class="card bg-success" style="display: flex; justify-content: center;">
                        {% elif cat == "error" %}
                            <div class="card bg-error" style="display: flex; justify-content: center;">
                        {% else %}
                            <div class="card bg-grey" style="display: flex; justify-content: center;">
                        {% endif %}
                            <p class="text-white">{{msg}}</p>
                        </div>

					{% endfor %}
				{% endif %}
			{% endwith %}

			{% block content %}
			{% endblock %}
		</div>
	</main>
	<footer style="background-color: var(--color-primary); display: flex; justify-content: space-around;">
		<a href="https://creativecommons.org/publicdomain/zero/1.0/" class="text-white">CC0 1.0 Universal</a>
	</footer>
</body>
</html>