{% extends "template.html" %}
{% block title %}The Open Source Fit Tracker{% endblock %}
{% block content %}
    <h2>Your Weight Progression.</h2>
    <div class="card">
        <canvas id="myChart" width=auto height=100px></canvas>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{{ labels | safe }}],
                    datasets: [{
                        label: 'Weight',
                        data: [{{ data | safe }}],
                        borderColor: getComputedStyle(document.documentElement).getPropertyValue('--color-primary'),
                        tension: 0.3,
                        spanGaps: true,
                        fill: true,
                        backgroundColor: getComputedStyle(document.documentElement).getPropertyValue('--color-lightGrey-50')
                    }]
                },
            });
        </script>
    </div>
    <div class="card" style="margin-top: 20px">
        <form action="/weight/" method="POST">
            <div class="row">
                <div class="col">
                    <label for="weight"></label>
                    <input type="number" name="weight" required>
                </div>
                <div class="col">
                    <label for="date"></label>
                    <input type="date" name="date" required>
                </div>
                <div class="col-2"><input type="submit" value="Record Weight"></div>
            </div>
        </form>
    </div>
{% endblock %}