# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ozeliurs\Google Drive\Mes Bibliotheques\Mes Documents\Mes Projets Code\Projets Python\TOSFT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
